p{
    line-height: 2;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font: bold;
}

h1 {
  margin: 50px auto 0 auto;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  font-size: 70px;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-top: 0;
  width: 4%;
  margin: 100px auto;
}

a{
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: relative;
  left: 350px;
}

.bottom-cloud {
  position: absolute;
  bottom: 200px;
  left: 70px;
}

.pic1 {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pic2 {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.mountain {
  margin: 20px auto 30px 20px;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: white;
}

.picture {
  border-radius: 100%;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #0592f0;
  background-image: -webkit-linear-gradient(top, #0592f0, #126396);
  background-image: -moz-linear-gradient(top, #0592f0, #126396);
  background-image: -ms-linear-gradient(top, #0592f0, #126396);
  background-image: -o-linear-gradient(top, #0592f0, #126396);
  background-image: linear-gradient(to bottom, #0592f0, #126396);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #49adeb;
  background-image: -webkit-linear-gradient(top, #49adeb, #4295cc);
  background-image: -moz-linear-gradient(top, #49adeb, #4295cc);
  background-image: -ms-linear-gradient(top, #49adeb, #4295cc);
  background-image: -o-linear-gradient(top, #49adeb, #4295cc);
  background-image: linear-gradient(to bottom, #49adeb, #4295cc);
  text-decoration: none;
}
